.slidersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.slides {
  width: 50%;
  padding-right: 25px;
  margin-top: 8px;
}

.skillContainer {
  text-align: center;
}

.skillContainer h4 {
  margin: 30px 0px;
}

.centeredTexts {
  text-align: center;
}
