:root {
  --BG_Color: #e7f6f2;
  --BG_Dark: #a5c9ca;
  --Primary_Light: #395b64;
  --Primary_Dark: #2c3333;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--BG_Dark);
}

.container {
  padding-left: 20%;
  padding-right: 20%;
  height: 100vh;
}
